body {
  margin: 0px 0px 0px 0px
  }

article {
  margin-left: 10%;
  width: 60%;
  font-size: 16px;
}

.article { 
  max-width: 1200px;
  margin-left: 25%;
  margin-right: 25%;
  margin-bottom: 0px;
  margin-top: 0px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-right: 10px;
  padding-left: 10px;
  }

 p {
  font-family: Times New Roman, serif;
  font-size: 20px;
}

h1 {
  font-size: 46px;
}

.byline {
  font-size: 16px;
  margin-bottom: 2px;
}

.publish-date {
font-size: 14px;
margin-top: 0px;
color: #666666; 
  }

img {
  max-width: 100%;
}

.caption {
  font-size: 14px;
  margin-bottom: 0px;
  margin-top: 0px;
  line-height: 18px;
  font-family: Franklin Light, sans-serif;
  color: #666666;
}

h2 {
  font-family: Geramond, serif;
  font-size: 24px;
  font-weight: lighter;
}



footer {
  margin-top: 30px;
  font-family: Basier, Arial, sans-serif;
}

a {
  color: black;
}

a:hover {
  color: #717171;
  text-decoration-color: #ffcb04;
}

.social {
  background-color: paleturquoise;
  font-size: 18px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 10%;
  padding-right: 10%;
  margin-bottom: 15px;
  text-align: center;

}

